# Основные библиотеки для работы с данными
pandas>=2.0.0
numpy>=1.24.0
openpyxl==3.1.2

# Для создания exe-файла
pyinstaller==6.11.0

# Вспомогательные пакеты
setuptools>=69.0.3
wheel>=0.42.0

flask
werkzeug 